<form [formGroup]="userForm" novalidate (ngSubmit)="onSave()">
  <mat-card>
    <mat-card-header>
      <mat-card-title>User</mat-card-title>
      <mat-card-subtitle>
        <mat-slide-toggle color="primary" formControlName="isActive">
          {{(userForm.value.isActive) ? 'activated' : 'deactivated'}}
        </mat-slide-toggle>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <!-- HIDDEN ID ------------------------------------------->
      <mat-form-field appearance="outline" hidden>
        <mat-label>ID</mat-label>
        <input matInput type="text" formControlName="id">
      </mat-form-field>
      <!-- FIRST NAME ------------------------------------------>
      <mat-form-field class="d-block" appearance="outline">
        <mat-label>First name</mat-label>
        <input matInput type="text" formControlName="firstName">
        <!--  <mat-error *ngIf="userForm.controls['firstName'].hasError('required')">
          First name is <strong>required</strong>
        </mat-error> -->
        <mat-error *ngIf="userForm.controls['firstName'].hasError('pattern')">
          Invalid characters symbols
        </mat-error>
      </mat-form-field>
      <!-- LAST NAME -------------------------------------------->
      <mat-form-field class="d-block" appearance="outline">
        <mat-label>Last name</mat-label>
        <input matInput type="text" formControlName="lastName">
        <!-- <mat-error *ngIf="userForm.controls['lastName'].hasError('required')">
          Last name is <strong>required</strong>
        </mat-error> -->
        <mat-error *ngIf="userForm.controls['lastName'].hasError('pattern')">
          Invalid characters symbols
        </mat-error>
      </mat-form-field>
      <!-- USERNAME -------------------------------------------->
      <mat-form-field class="d-block" appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput type="text" formControlName="username" [pattern]="unamePattern">
        <!-- <mat-error *ngIf="userForm.controls['username'].hasError('required')">
          Username is <strong>required</strong>
        </mat-error> -->
        <mat-error *ngIf="userForm.controls['username'].hasError('pattern')">
          You can use only letters and numbers
        </mat-error>
        <mat-error *ngIf="userForm.controls['username'].hasError('minLength')">
          You have to provide at least 6 characters
        </mat-error>
        <mat-error *ngIf="userForm.controls['username'].hasError('maxLength')">
          The maximum number of characters is 20
        </mat-error>
      </mat-form-field>
      <!-- EMAIL -------------------------------------------->
      <mat-form-field class="d-block" appearance="outline">
        <mat-label>E-mail</mat-label>
        <input matInput type="email" formControlName="email">
        <!--  <mat-error *ngIf="userForm.controls['email'].hasError('required')">
          E-mail is <strong>required</strong>
        </mat-error> -->
        <mat-error *ngIf="userForm.controls['email'].hasError('email')">
          This is not a valid e-mail syntax
        </mat-error>
      </mat-form-field>
      <!-- BIRTHDAY -------------------------------------------->
      <mat-form-field class="d-block" appearance="outline">
        <mat-label>Date of Birth</mat-label>
        <input matInput formControlName="dateOfBirth" [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <!-- GENDER -------------------------------------------->
      <p>Gender</p>
      <mat-radio-group matInput aria-label="Select gender" type="radio" formControlName="gender">
        <mat-radio-button class="px-3" value='male'>Male</mat-radio-button>
        <mat-radio-button class="px-3" value='female'>Female</mat-radio-button>
        <mat-radio-button class="px-3" value='unspecified'>I rather not to answer</mat-radio-button>
      </mat-radio-group>
      <!-- ROLES -------------------------------------------->
      <p>What type of user are you?</p>
      <mat-checkbox class="px-3" formControlName="isTeacher">Teacher</mat-checkbox>
      <mat-checkbox class="px-3" formControlName="isStudent">Student</mat-checkbox>
      <mat-checkbox class="px-3" formControlName="isAdmin">Administrator</mat-checkbox>
    </mat-card-content>
    <mat-card-actions>
      <button mat-icon-button class="mx-1" type="reset" (click)="onReset()" [disabled]="userForm.invalid">
        <mat-icon>clear</mat-icon>
      </button>
      <button mat-raised-button class="mx-1 btn btn-primary" type="submit" [disabled]="userForm.invalid">
        <mat-icon>save</mat-icon>
      </button> </mat-card-actions>
  </mat-card>
</form>
