<h2 mat-dialog-title>User details</h2>
<mat-chip-list aria-label="User's roles">
  <mat-chip *ngIf="userDetails.isAdmin" selected [color]="['warn']">Administrator</mat-chip>
  <mat-chip *ngIf="userDetails.isTeacher" selected [color]="['accent']">Teacher</mat-chip>
  <mat-chip *ngIf="userDetails.isParent" selected class="bg-info">Parent</mat-chip>
  <mat-chip *ngIf="userDetails.isStudent" selected [color]="['primary']">Student</mat-chip>
</mat-chip-list>
<mat-dialog-content>
  <dl>
    <dt>Name: </dt>
    <dd>{{userDetails.firstName}} {{userDetails.lastName}}</dd>
    <dt>E-mail: </dt>
    <dd>{{userDetails.email}} </dd>
    <dt>Username: </dt>
    <dd>{{userDetails.username}}</dd>
    <dt>Age: </dt>
    <dd>{{age}}</dd>
    <dt>Gender: </dt>
    <dd>{{userDetails.gender}}</dd>
  </dl>
</mat-dialog-content>
<mat-dialog-actions class="flex-row-reverse">
  <button class="mat-button" (click)="close()">Close</button>
</mat-dialog-actions>
